body{
    background: #333;
    color: rgb(34, 87, 122);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.title-block{
    background-color: rgb(87, 204, 153);
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;
    border-color: rgb(110, 203, 99);
    height: 50px;
    width: 300px;
    padding-left: 30px;
    padding-bottom: 20px;
    position: relative; 
    left: 500px;
}
.names{
    background-color: rgb(128, 237, 153);
    font-size: 15px;
    height: 150px;
    width: 350px;
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
    top: 50px;
    left: 50px;
}
.contact{
    background-color: rgb(128, 237, 153);
    height: 100px;
    width: 350px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    top: 50px;
    left: 50px;
}
.career{
    background-color: rgb(128, 237, 153);
    height: 150px;
    width: 600px;
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
    top: 50px;
    left: 50px;
}
.education{
    background-color: rgb(128, 237, 153);
    height: 225px;
    width: 600px;
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
    top: 50px;
    left: 50px;
}
.work{
    background-color: rgb(128, 237, 153);
    height: 200px;
    width: 600px;
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
    top: 50px;
    left: 50px;
}
.skills{
    background-color: rgb(128, 237, 153);
    height: 200px;
    width: 600px;
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
    top: 50px;
    left: 50px;
}
.volunteer{
    background-color: rgb(128, 237, 153);
    height: 150px;
    width: 600px;
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
    top: 50px;
    left: 50px;
}
.referees{
    background-color: rgb(128, 237, 153);
    height: 150px;
    width: 300px;
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
    top: 50px;
    left: 50px;
}
.image{
    width: 200px;
    height: 200px;
    padding-top: 25px;
    padding-left: 25px;
}
.card{
    background: rgb(87, 204, 153);
    width: 200px;
    height: 250px;
    margin-left: 50px;
}
.block1{
    background-color: rgb(87, 204, 153);
    height: 200px;
    width: 350px;
    position: relative;
    left: 50px;
    top: 50px;
}
.block2{
    background-color: rgb(87, 204, 153);
    height: 150px;
    width: 350px;
    position: relative;
    left: 50px;
    top: 100px;
}
.block8{
    background-color: rgb(87, 204, 153);
    height: 150px;
    width: 350px;
    position: relative;
    left: 50px;
    bottom: 850px;  
}
.block3{
    background-color: rgb(87, 204, 153);
    height: 200px;
    width: 650px;
    position: relative;
    left: 600px;
    bottom: 500px;
}
.block4{
    background-color: rgb(87, 204, 153);
    height: 225px;
    width: 650px;
    position: relative;
    left: 600px;
    bottom: 450px;
}
.block5{
    background-color: rgb(87, 204, 153);
    height: 225px;
    width: 650px;
    position: relative;
    left: 600px;
    bottom: 350px;
}
.block6{
    background-color: rgb(87, 204, 153);
    height: 225px;
    width: 650px;
    position: relative;
    left: 600px;
    bottom: 275px;
}
.block7{
    background-color: rgb(87, 204, 153);
    height: 150px;
    width: 650px;
    position: relative;
    left: 600px;
    bottom: 200px;
}
.email{
    color: #fff;
    height: 25px;
    width: 125px;
    background-color: rgb(87, 204, 153);
    border-style: outset;
    border-color: #fff;
    border-top: 20px;
    border-right: 20px;
    position: relative;
    bottom: 700px;
    left: 50px;
}
.line1{
    border-style: solid;
    border-color: #fff;
    border-top: 20px;
    border-right: 40px;
}
.line2{
    border-style: solid;
    border-color: #fff;
    border-top: 20px;
    border-right: 40px;
}
.line3{
    border-style: solid;
    border-color: #fff;
    border-top: 20px;
    border-right: 40px;
}
.line4.{
    border-style: solid;
    border-color: #fff;
    border-top: 20px;
    border-right: 40px;
}
.line5{
    border-style: solid;
    border-color: #fff;
    border-top: 20px;
    border-right: 40px;
}
.line6{
    border-style: solid;
    border-color: #fff;
    border-top: 20px;
    border-right: 40px;
}
.line7{
    border-style: solid;
    border-color: #fff;
    border-top: 20px;
    border-right: 40px;
}